.appointments__container{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    padding:90px 60px;
}

.appointments__container .last__appointment--card{
      width: 20%;
      margin: 16px;
      background: white;
      border: solid 1px #A8DCD1;
      color: #282c34;
  }
.appointments__container .last__appointment--card svg{
    opacity: 0.1;
}

.appointments__container .last__appointment--card div:first-child{
    flex-direction: column;
}

.appointments__container--bg h2{
    font-size: 50px;
    color: #282c34;
    margin: 0 90px;
    background-color: #ECF2F1;
    width: 100%;
    position: fixed;
}

.appointments__container svg{
    z-index: 1;
}