.dashboard{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 100px;
}
.cards__container{
    width: 70%;
    margin-left: 100px;
}
.personal__info--card{
   background-color: white;
    border-radius: 8px;
    min-width: 30%;
    position: relative;
    padding: 100px 16px 40px;
    box-shadow:0 1px 1px 0 rgba(48,48,49,0.14),0 2px 1px -1px rgba(48,48,49,0.12),0 1px 3px 0 rgba(48,48,49,0.2);
}

.personal__info--card img{
    width: 150px;
    height: 150px;
    border-radius: 150px;
    /* position: absolute; */
    /* top: -150px; */
    /* right: 150px; */
    transform: translate(50%,-50%);
}

.personal__info--data p:last-child{
    font-size: 12px;
    font-style: italic;
}

.personal__info--data p:first-child{
    margin-bottom: 4px;
    font-size: 18px;
    color: #282c34;
}
.last__appointment--card{
    color: white;
    padding:  16px;
    width: 100%;
    height: fit-content;
    border-radius: 8px;
    background: rgb(11,139,194);
    background: linear-gradient(295deg, rgba(11,139,194,1) 0%, rgba(110,91,228,1) 100%);
    box-shadow:0 1px 1px 0 rgba(48,48,49,0.14),0 2px 1px -1px rgba(48,48,49,0.12),0 1px 3px 0 rgba(48,48,49,0.2);
    cursor: pointer;
}
.last__appointment--card i:first-child{
    font-size: 20px;
}
.last__appointment--card:hover{
    box-shadow:0 4px 5px 0 rgba(48,48,49,0.14),0 1px 10px 0px rgba(48,48,49,0.12),0 2px 4px 0 rgba(48,48,49,0.2);
}
.last__results--card{
    padding:  16px;
    color: white;
    height: fit-content;
    width: 48%;
    border-radius: 8px;
    background: rgb(11,139,194);
    background: linear-gradient(131deg, rgba(11,139,194,1) 0%, rgba(43,92,179,1) 100%);
    box-shadow:0 1px 1px 0 rgba(48,48,49,0.14),0 2px 1px -1px rgba(48,48,49,0.12),0 1px 3px 0 rgba(48,48,49,0.2);
    cursor: pointer;
}
.last__results--card:hover{
    box-shadow:0 4px 5px 0 rgba(48,48,49,0.14),0 1px 10px 0px rgba(48,48,49,0.12),0 2px 4px 0 rgba(48,48,49,0.2);
}
.last__results--card div:first-child div{
    display: flex;
    flex-direction: row;
    font-size: 30px;
}
.last__results--card div:first-child div p{
    margin-bottom: 3px;
}

.last__values--container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
}

.dashboard__buttons button{
    border-radius: 8px;
    padding: 16px 32px;
}

.dashboard__buttons{
    display: flex;
    flex-direction: column;
}
.container__row{
    display: flex;
    flex-direction: row;
}
.space__between{
    justify-content: space-between;
}

.last__appointment--card svg{
    margin-right: 8px;
    opacity: 0.3;
}

.dashboard__buttons button{
    background-color: white;
    border-radius: 4px;
    border: solid 1px #0b8bc2;
    color: #0b8bc2;
    padding:16px 32px;
    height: fit-content;
    margin-top: 16px;
}

.dashboard__buttons button:hover{
    background-color: #0b8bc2;
    color:white;
    border-radius: 8px;
    border: solid 1px #0b8bc2;

}

.ant-fullcalendar{
    background-color: white;
}

.ant-fullcalendar-header{
    background-color: white;
}